.main {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    margin-top: 40px;
}

.city {
    color: black;
    background-color: thistle;
    padding: 20px;
    width: 500px;
    border-radius: 5px;
    border: none;
    margin: 20px;
}

.search {
    margin-left: 5px;
    font-size: 16px;
    background-color: #5d87f1;
    color: white;
    border: none;
    padding: 20px;
    line-height: 1;
    border-radius: 5px;
}

.days {
    display: flex;
    justify-content: space-between;
    font-family: "Courier New", Courier, monospace;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 400px;
    margin-right: 450px;
}

.owner {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    margin-left: 400px;
    margin-right: 450px;
}

.weather emo {
    position: relative;
    top: -8px;
    font-size: 40px;
    margin-right: 10px;
}
